{% extends "base_generic.html" %}

{% block content %}
<h1>Notepad Home</h1>

  <p>Welcome to <em>Notepad</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

<h2>Dynamic content</h2>

  <p>The notepad has the following record counts:</p>
  <ul>
    <li><strong>Groups:</strong> {{ num_groups }}</li>
    <li><strong>Notes:</strong> {{ num_notes }}</li>
    <!-- <li><strong>Group2:</strong> {{ group2 }}</li> -->
  </ul>
  <!-- <form action="filterbygroup/" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <input type="submit" value="Submit" />
  </form> -->
{% endblock %}