body {
    background-color: #332C2C;
}
aside {
    float: left;
    width: 20%;
    height: 100vh;
    padding: 20px;
    background-color: #1B262C;
    border-right: 5px solid #4d4d4d;  
}
.sidebar-nav {
    list-style-type: none;
    padding-left: 0
}
.sidebar-nav li {
    padding: 10px 0;
}
.sidebar-nav a {
    color:antiquewhite;
    text-decoration: none;
}
.sidebar-nav a:hover {
    color: blue
}
#user_name {
    color: white;
}
.main_content_log_in_out
{
    float: left;
    width: 80%;
    height: 95vh;
    background: gray;
    padding: 80px;
    border-top: 5px solid #4d4d4d;
}
.main_content h1 {
    height: 58px;
    text-align: center;
    padding-top: 1px;
    background-color: #332C2C;
    color: antiquewhite;
    margin-top: 0px;
    margin-bottom: 10vh;
}
.main_content {
    float: left;
    width: 80%;
    height: 95vh;
    background-color: gray;
    border-top: 5px solid #4d4d4d;
}
.sub_content ul {
    list-style-type: none;
}
.sub_content li {
    margin-bottom: 10px;
}
.sub_content a, .elementscount {
    color: antiquewhite;
    text-decoration: none;
}
.sub_content {
    margin-left: 10vh;
}
.main_content_note {
    float: left;
    width: 80%;
    height: 100vh;
    background-color: gray;
    border-top: 5px solid #4d4d4d;
}

.main_content_note table{
    width: 95%;
    margin-left: 2.5%;
}
.pagination {
    float: left;
    width: 80%;
    height: 5vh;
    padding-left: 36%;
    background-color: #332C2C;
    color: #FFFFFF  ;
}
#id_article {
    float: left;
    width: 80%;
}
#id_noteBody {
    float: left;
    width: 80%;
}
.form1 {
    margin-left: 30px;
}
#select_group {
    float: left;
}
.apply_button {
    height: 24.5px;
    padding-top: 0px;
}
.btn_creation{
    padding-left: 41%;
    margin-top: 50px;
}