{% extends "base_generic.html" %}

<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
  <h1>Заметки</h1>
  <form class="form1" action="" method="get">
    {% csrf_token %}
      {{ form }}
    <input type="submit" value="Submit" />
  </form>
  <p></p>
  <div class="elList">
    <ul>
      {% if note_list %}
        {% for note in note_list %}
          <li><a href="{{ note.get_absolute_url }}">{{ note.article }}</a></li>
        {% endfor %}
      {% else %}
        <p>Заметок нет</p>
      {% endif %}
    </ul>
    <a href="create/"><button class="btn btn-primary">Создать заметку</button>
  </div>
  </a> 
{% endblock %}  