{% extends "base_generic.html" %}

<!-- Add additional CSS in static file -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
  <div class="main_content">
    <h1>Заметки</h1>
    <div class="sub_content">
      <form class="form1" action="" method="get">
        {% csrf_token %}
        <span id="select_group">{{ form }}</span>
        <span id="group_submit">
          <input class="apply_button" type="submit" value="Применить">
        </span>
      </form>
      <p></p>
      <div>
        <ul>
          {% if note_list %}
            {% for note in note_list %}
              <li><a href="{{ note.get_absolute_url }}">{{ note.article }}</a></li>
            {% endfor %}
          {% else %}
            <p>Заметок нет</p>
          {% endif %}
        </ul>
        <div class="btn_creation">
          <a href="create/"><button class="btn btn-primary">Создать заметку</button></a> 
        </div>
      </div>
    </div>
  </div>
{% endblock %}  