{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ note.article }}</h1>

  <p><strong>Group:</strong><a href="{{ group.get_absolute_url }}"> {{ note.groupID }}</a></p>
  <p><strong>Note:</strong> {{ note.noteBody }}</p>

  <div style="margin-left:20px;margin-top:20px">

  {% for copy in note.noteinstance_set.all %}
    <!-- code to iterate across each copy/instance of a book -->
  {% endfor %}
  <a href="{{note.id}}/update/">
    <button>Update</button>
  </a> 
  <a href="{{note.id}}/delete/">
    <button>Delete</button>
  </a> 
{% endblock %}